{# src/CoreBundle/Ressources/views/Core/header.html.twig #}

		<div id="header">
			<h1> BCVB </h1>
			<div id="header_menu">
				<ul>
				    <li><a href="{{ path('altgeek_core_homepage') }}">{{ 'Home'|trans }}</a></li>
				    <li><a href="{{ path('altgeek_core_homepage') }}">{{ 'About'|trans }}</a></li>
				    <li><a href="{{ path('altgeek_core_homepage') }}">{{ 'Contact'|trans }}</a></li>
				</ul>
			</div>
		</div>